<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.student.manager">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLy"
        tools:targetApi="31">
        <activity
            android:name=".view.student.EditStudentActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.lecturer.EditLecturerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.admin.EditStaffActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.all.course.EditCourseActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.all.course.CreateCoureActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.all.classroom.CreateClassActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.all.classroom.ShowListClassActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.all.course.ShowListCourseActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.all.user.ShowListUserActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.all.create.CreateLecturerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.all.create.CreateStudentActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.all.create.CreateAccountActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.all.create.CreateStaffActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.admin.AdminActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.lecturer.LecturerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.staff.StaffActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.student.StudentActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.signup.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.login.signin.SignInActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>